In [1]:
import pandas as pd

In [2]:
cd drive/MyDrive/Data\ Science/PenguinClassifier/

/content/drive/MyDrive/Data Science/PenguinClassifier

In [3]:
df = pd.read_csv('penguins_cleaned.csv')

In [4]:
df.head(3)

  species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen            39.1  ...                181         3750    male
1  Adelie  Torgersen            39.5  ...                186         3800  female
2  Adelie  Torgersen            40.3  ...                195         3250  female

[3 rows x 7 columns]

In [8]:
target = 'species'
encode = ['sex', 'island']

for col in encode:
  dummy = pd.get_dummies(df[col], prefix=col)
  df = pd.concat([df, dummy], axis=1)
  del df[col]
df.head()

  species  bill_length_mm  ...  island_Dream  island_Torgersen
0  Adelie            39.1  ...             0                 1
1  Adelie            39.5  ...             0                 1
2  Adelie            40.3  ...             0                 1
3  Adelie            36.7  ...             0                 1
4  Adelie            39.3  ...             0                 1

[5 rows x 10 columns]

In [11]:
df[target].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [13]:
target_mapper = {'Adelie': 0, 'Gentoo': 1, 'Chinstrap': 2}
def target_encode(val):
  return target_mapper[val]

In [14]:
df['species'] = df['species'].apply(target_encode)

In [15]:
df['species'].head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [16]:
X = df.drop('species', axis=1)
y = df[target]

In [17]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X, y)

RandomForestClassifier()

In [18]:
import pickle

In [19]:
pickle.dump(clf, open('penguin_clf.pkl', 'wb'))

In [20]:
ls

create_model.py  penguin_clf.pkl  penguins_cleaned.csv